* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background-color: rgb(74, 166, 197);
  padding: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 7rem;
  list-style: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

a:hover::after {
  width: 100%;
}

nav form {
  margin-right: auto;
  width: 40%;
}

.searchBar {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 40%;
}

.searchButton {
  padding: 5px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: darkgreen;
}
